body {
  font-family: Monaco;
  background-color: #F8F8F8;
  width: 100%;
}

img {
  float:left;
  width: 6%;
  margin-right: 10px;
  margin-bottom: 40px;
}

p {
  width: 90%;
}

br {
  clear: both;
}
